.navlink{
    text-decoration: none;
}

.btn{
    font-family: inherit;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 5px;
    background-color: transparent;
    font-size: 18px;
}

.btn:hover{
    color: #C3B1E1;
}

.container{
    margin-left: auto;
}